# Create a bot (https://t.me/BotFather), then open a chat with it and send /start. It needed for ability to receive messages from the bot you created
TELEGRAM_BOT_TOKEN=
# ID of the account you want to receive messages. To obtain your ID, start a chat with get_id_bot (https://t.me/get_id_bot) or userinfobot (https://t.me/userinfobot), then send /start or /id
TELEGRAM_CHAT_ID=

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=vactrak_user
POSTGRES_PASSWORD=
POSTGRES_DB=vactrak_db

DB_SYNCHRONIZE=true  # Только для dev! В prod — false + миграции
DB_LOGGING=true
